/*añade bordes al logo*/
.aside .logo a::before {
  border-top: 10px solid #0d6ff9;
  border-left: 10px solid #0d6ff9;
}

/*añade bordes al logo*/
.aside .logo a::after {
  border-right: 10px solid #0d6ff9;
  border-bottom: 10px solid #0d6ff9;
}

.contact .contact-info-item .icon .fa,
.blog .blog-item-inner .blog-info .blog-tags a,
.lightbox .lightbox-controls .prev-item .fa,
.lightbox .lightbox-controls .next-item .fa,
.lightbox .lightbox-content .lightbox-caption .caption-text span,
.portfolio .portfolio-item .portfolio-info .icon .fa,
.portfolio .portfolio-filter button.active,
.service .service-item .service-item-inner .icon .fa,
.about .about-content .about-text h3 span,
.aside .nav li a:hover,
.aside .nav li a.active,
body.dark .aside .nav li a:hover,
body.dark .aside .nav li a.active,
body.dark .portfolio .portfolio-filter button:hover,
body.dark .portfolio .portfolio-filter button.active {
  color: #0d6ff9;
}
.blog .blog-item-inner .blog-img .blog-date,
.service .service-item .service-item-inner:hover .icon,
.about .about-content .timeline .circle-dot,
.about .about-content .timeline .timeline-item::before,
.about .about-content .skills .skill-item .progress .progress-in,
.btn,
.section-title h2::before,
.section-title h2::after,
.aside .nav-toggler span,
.aside .nav-toggler span::before,
.aside .nav-toggler span::after {
  background-color: #0d6ff9;
}

.home .intro .social-links a {
  background-color: #0d6ff9;
}

.portfolio .portfolio-filter button.active {
  border-color: #0d6ff9;
}
